        .box{
  			border:1px solid black;
  			margin-top:25px;
  			margin-left:25px;
            width:100px;
            height:100px;
         	
            float:left;

        }
        #hintDiv{
          color:black;
        }
        #errorDiv{
          color:red;
        }
        #inputForm{
width: 35%; 
float:left;}

.btn{
  border-radius: 3px;
  position:relative;
  margin:0px auto;
  display: inline-block;
-webkit-writing-mode: horizontal-tb;
}
        
        #daySchedule{
          border:1px solid black;
          overflow:hidden;
          width: 20%; 
          float:left;           
        }

#EisenhowerQuadrant{
	
	background-color:grey;
	overflow: hidden;
	width:275px;
	height:275px;
  border-radius:5px;
}


        #urgentImportant{
        
        	background-color: green;
        	}
#urgentNotImportant{

	background-color: blue;
	float:bottom;

}
       #notUrgentImportant{

	background-color: orange;

}
#notUrgentNotImportant{

	background-color: red;
}

        .urgentimportant{
        
          background-color: green;
          }
.urgentnotImportant{

  background-color: blue;
  float:bottom;

}
       .notUrgentimportant{

  background-color: orange;

}
.notUrgentnotImportant{

  background-color: red;


}


